@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Inter&family=Newsreader&family=Poppins&family=Rubik&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Bitter&family=Inter&family=Newsreader&family=Poppins&family=Rubik&family=Work+Sans&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
}

.primary-header {
  font-size: 48px;
  font-family: "Bitter", serif;
  font-weight: 500;
  line-height: 57.6px;
  color: #1C1A13;
}

.secondary-header {
  font-size: 84px;
  font-family: "Bitter", serif;
  font-weight: 500;
  line-height: 100.8px;
  color: #1C1A13;
}

.para-header {
  font-size: 36px;
  font-family: "Bitter", serif;
  font-weight: 500;
  line-height: normal;
  color: #1E1E1E;
}

.p-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  font-family: "Bitter", serif;
  color: #FFF;
}

.para-txt {
  color: #000;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.p-txt {
  font-size: 16px;
  font-weight: 400;
  font-family: "Bitter", serif;
  line-height: 24px;
  color: #434241;
}

.read-more {
  color: #717171;
  font-family: "Bitter", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}

.primary-btn {
  position: relative;
  padding: 8px 22px;
  min-width: 120px;
  border-radius: 4px;
  width: auto;
  border: none;
  color: #1C1A13;
  cursor: pointer;
  background-color: #FECE05;
  transition: all 0.2s ease;
  font-family: "Bitter", serif;
}
.primary-btn:active {
  transform: scale(0.96);
}
.primary-btn::before, .primary-btn::after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.primary-btn:hover::before {
  top: -70%;
  background-image: radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FECE05 20%, transparent 30%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FECE05 15%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}
.primary-btn:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FECE05 15%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%), radial-gradient(circle, #FECE05 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.sec-gap {
  padding-top: 62px;
}

.faq {
  background-color: #F8F8F8;
  margin-bottom: 80px;
}
.faq.blogs {
  margin-bottom: 0px;
}
.faq .main-content {
  padding: 80px 0px;
}
.faq .main-content .content .primary-header {
  line-height: normal;
}
.faq .main-content .content .img-box {
  width: 396px;
  height: 408px;
}
.faq .main-content .content .img-box img {
  width: 100%;
  height: 100%;
}

.accordion .card {
  background-color: transparent !important;
  border-left: none;
  border-right: none;
}
.accordion .card:nth-child(1) {
  border-top: none !important;
}
.accordion .card:nth-last-child(1) {
  border-bottom: none !important;
}
.accordion .card .card-header {
  background-color: transparent !important;
  border-bottom: none !important;
  padding: 0.75rem 0rem;
}
.accordion .card .card-header button::before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f078";
  padding: 1px 10px;
  font-size: 15px;
  font-weight: 100;
  margin-left: 20px;
  -webkit-text-stroke: 1, 1px transparent;
}
.accordion .card .card-header button.collapsed::before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f054";
  padding: 1px 10px;
  font-size: 15px;
  font-weight: 100;
  margin-left: 20px;
  -webkit-text-stroke: 1.1px transparent;
}
.accordion .card .card-header .accordion-btn.btn-link {
  padding: 0px !important;
  margin: 20px 0px 8px 0px;
}
.accordion .card .card-header .accordion-btn.btn-link:hover {
  text-decoration: none;
}
.accordion .card .card-header .accordion-btn.btn-link:focus {
  box-shadow: none;
  text-decoration: none;
}
.accordion .card .card-header .accordion-btn.btn-link.que {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: #1E1E1E;
  font-family: "Bitter", serif;
}
.accordion .card .card-body {
  padding: 0 0 30px 0;
}
.accordion .card .card-body.para-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #616160;
  font-family: "Assistant", sans-serif;
}

.fixed-top .navbar {
  padding: 0.5rem 4rem;
}
.fixed-top .navbar.main-nav {
  background-color: #FEFEFE;
}
.fixed-top .navbar.main-nav .navbar-toggler {
  padding: 0.25rem 0rem;
}
.fixed-top .navbar.main-nav .logo {
  margin-left: 100px;
}
.fixed-top .navbar-exp {
  padding: 30px 0px;
}
.fixed-top .navbar-exp .inner-nav {
  display: flex;
  padding: 0 4rem;
}
.fixed-top .navbar-exp .inner-nav .navbar-nav {
  margin-right: 120px;
}
.fixed-top .navbar-exp .inner-nav .navbar-nav .nav-item .nav-link {
  color: #999999;
  font-size: 18px;
  font-weight: 500;
  font-family: "Bitter", serif;
  line-height: 21.6px;
  text-transform: uppercase;
}

.footer {
  background-color: #F8F8F8;
}
.footer .main-content {
  padding: 60px 0px 40px 0px;
}
.footer .main-content .f-link {
  font-family: "Bitter", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #616160;
  margin-bottom: 16px;
  cursor: pointer;
}
.footer .main-content .content .logo-img {
  width: 129px;
  height: 64px;
  margin-bottom: 24px;
}
.footer .main-content .content .logo-img img {
  width: 100%;
  height: 100%;
}
.footer .main-content .content .inner-content .f-header {
  color: #323130;
  font-family: "Bitter", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 20px;
}
.footer .main-content .sec-content .p-txt {
  font-size: 18px;
  color: #323130;
}
.footer .main-content .sec-content .form-group {
  width: 100%;
}
.footer .main-content .sec-content .form-group .form-control {
  padding-left: 2.375rem;
  border-radius: 10px;
  border: 1px solid #323130;
}
.footer .main-content .sec-content .form-group .form-control-icon {
  position: absolute;
  font-size: 18px;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}
.footer .main-content .sec-content .subscrice {
  display: flex;
  align-items: center;
}
.footer .main-content .sec-content .subscrice .p-txt {
  margin-left: 12px;
  margin-bottom: 0px;
}
.footer .main-content .sec-content .socials-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .main-content .sec-content .socials-links .links .s-link {
  color: #323130;
  font-size: 22px;
  cursor: pointer;
}
.footer .main-content .sec-content .socials-links .links .s-link:hover {
  color: #FECE05;
}
.footer .main-content .sec-content .socials-links .back-to-top .back-btn {
  overflow: hidden;
  border: none;
  color: #1E1E1E;
  background: none;
  font-family: "Bitter", serif;
}
.footer .main-content .footer-strip {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.home-sec .main-content {
  padding: 80px 0px 80px 0px;
}
.home-sec .main-content .img-box {
  width: 287px;
  height: 390px;
  border-radius: 30px;
  border: 1px solid var(--colour-grey, #BCBBBA);
  rotate: -20deg;
  transform: translate(-33%, 10%);
}
.home-sec .main-content .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transform: translate(-8%, -8%);
}
.home-sec .main-content .sec-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-sec .main-content .sec-col .content {
  display: contents;
}
.home-sec .main-content .sec-col .content .primary-header {
  text-align: center;
  margin-bottom: 40px;
}
.home-sec .main-content .third-col {
  position: relative;
  padding-right: 0px;
  display: flex;
  justify-content: end;
}
.home-sec .main-content .third-col .img-box-2 {
  width: 287px;
  height: 470px;
}
.home-sec .main-content .third-col .img-box-2 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.our-service {
  background-color: #F8F8F8;
}
.our-service .main-content {
  padding: 80px 0px;
}
.our-service .main-content .primary-header {
  text-align: center;
  margin-bottom: 60px;
}
.our-service .main-content .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-service .main-content .content .inner-content .img-box {
  width: 220px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}
.our-service .main-content .content .inner-content .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all ease-in-out 0.4s;
}
.our-service .main-content .content .inner-content .img-box img:hover {
  transform: scale(1.1);
  transition: 1s ease;
}
.our-service .main-content .content .inner-content .p-txt {
  text-align: center;
  margin-top: 12px;
}

.about {
  background-color: #FFFFFF;
}
.about .main-content {
  padding: 80px 0px 130px 0px;
}
.about .main-content .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about .main-content .content .primary-header {
  margin-bottom: 24px;
}
.about .main-content .content .p-txt {
  margin-bottom: 24px;
  font-family: "Assistant", sans-serif;
}
.about .main-content .sec-content {
  padding-left: 50px;
}
.about .main-content .sec-content .images-row {
  justify-content: end;
}
.about .main-content .sec-content .images-row .first-col .img-box {
  width: 224.948px;
  height: 176px;
  transform: translateY(78px);
}
.about .main-content .sec-content .images-row .first-col .img-box img {
  width: 100%;
  height: 100%;
}
.about .main-content .sec-content .images-row .sec-col .img-box {
  width: 245px;
  height: 214px;
}
.about .main-content .sec-content .images-row .sec-col .img-box img {
  width: 100%;
  height: 100%;
}
.about .main-content .sec-content .third-col {
  display: flex;
  justify-content: end;
  align-items: center;
}
.about .main-content .sec-content .third-col .img-box {
  width: 141px;
  height: 123px;
  transform: translateX(50px);
}
.about .main-content .sec-content .third-col .img-box img {
  width: 100%;
  height: 100%;
}
.about .main-content .sec-content .fourth-col .img-box {
  width: 281px;
  height: 245px;
  transform: translateY(50px);
}
.about .main-content .sec-content .fourth-col .img-box img {
  width: 100%;
  height: 100%;
}

.choose-us {
  background-color: #F8F8F8;
  position: relative;
}
.choose-us .main-content {
  padding: 80px 0px;
}
.choose-us .main-content .content .img-box {
  width: 439px;
  height: 380px;
}
.choose-us .main-content .content .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.choose-us .main-content .sec-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-us .main-content .sec-content .primary-header {
  margin-bottom: 24px;
}
.choose-us .main-content .sec-content .inner-content .list {
  display: flex;
  align-items: center;
}
.choose-us .main-content .sec-content .inner-content .list .p-txt {
  margin-bottom: 8px;
  font-family: "Assistant", sans-serif;
}
.choose-us .main-content .sec-content .inner-content .list .p-txt .check-icon {
  margin-right: 12px;
}
.choose-us .bg-img-box {
  width: 212px;
  height: 405px;
  position: absolute;
  bottom: 60px;
  right: 0;
}
.choose-us .bg-img-box img {
  width: 100%;
  height: 100%;
}

.choose-us-second {
  background-color: #FFFFFF;
}
.choose-us-second .main-content {
  padding: 80px 0px;
}
.choose-us-second .main-content .primary-header {
  margin-bottom: 48px;
  text-align: center;
}
.choose-us-second .main-content .content .inner-content {
  position: relative;
}
.choose-us-second .main-content .content .inner-content .img-box {
  width: 347px;
  height: 328px;
}
.choose-us-second .main-content .content .inner-content .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.choose-us-second .main-content .content .inner-content .first-box {
  position: absolute;
  top: 0;
  width: 173.5px;
  height: 145.969px;
  border-radius: 17px;
  background: #FFF;
  padding: 4px 0px 0px 9px;
}
.choose-us-second .main-content .content .inner-content .first-box .sec-box {
  width: 147px;
  height: 128px;
  border-radius: 10px;
  background: #FCEBA4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.choose-us-second .main-content .content .inner-content .first-box .sec-box .count {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Bitter", serif;
  color: #1C1A13;
}
.choose-us-second .main-content .content .inner-content .first-box .sec-box .p-txt {
  font-size: 18px;
  text-align: center;
  color: #1C1A13;
}

.cta {
  background-color: #FFFFFF;
}
.cta .main-content {
  padding: 60px 0px;
}
.cta .main-content .bg-img {
  display: flex;
  justify-content: end;
  width: 1140px;
  height: 324px;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("./images/cta.png"), lightgray 50%/cover no-repeat;
}
@media (max-width: 526px) {
  .cta .main-content .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
}
.cta .main-content .bg-img .content {
  padding: 40px;
  width: 50%;
}
.cta .main-content .bg-img .content .p-header {
  margin-bottom: 32px;
}
.cta .main-content .bg-img .content .primary-btn {
  color: #1C1A13;
  background-color: #FEFEFE;
}
.cta .main-content .bg-img .content .primary-btn:hover::before {
  background-image: radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FEFEFE 20%, transparent 30%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FEFEFE 15%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%);
}
.cta .main-content .bg-img .content .primary-btn:hover::after {
  background-image: radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FEFEFE 15%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%), radial-gradient(circle, #FEFEFE 20%, transparent 20%);
}
.cta.about .main-content .bg-img {
  align-items: center;
  justify-content: center;
  height: 286px;
  background: linear-gradient(228deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("./images/cta-about.png"), lightgray 0px -128.371px/100% 224.306% no-repeat;
}
.cta.about .main-content .bg-img .content {
  width: 100%;
  padding: 60px 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta.about .main-content .bg-img .content .p-header {
  margin-bottom: 40px;
  text-align: center;
}
.cta.about.visa .main-content .bg-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./images/cta-visa.png"), lightgray 50%/cover no-repeat;
}

.our-success {
  background-color: #F8F8F8;
}
.our-success .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.our-success .main-content {
  padding: 80px 0px;
}
.our-success .main-content .primary-header {
  text-align: center;
  margin-bottom: 60px;
}
.our-success .main-content .success-caro .owl-stage {
  transition-timing-function: linear !important;
}
.our-success .main-content .success-caro .owl-nav {
  display: block;
  margin-top: 60px;
}
.our-success .main-content .success-caro .owl-nav .owl-next {
  padding: 4px 16px !important;
  border-radius: 7px;
  border: 1px solid #616160;
}
.our-success .main-content .success-caro .owl-nav .owl-next:hover {
  background: #FECE05;
}
.our-success .main-content .success-caro .owl-nav .owl-prev {
  padding: 4px 16px !important;
  border-radius: 7px;
  border: 1px solid #616160;
}
.our-success .main-content .success-caro .owl-nav .owl-prev:hover {
  background: #FECE05;
}
.our-success .main-content .success-caro .owl-item.active.center .success-card {
  background: #FCEBA4;
}
.our-success .main-content .success-caro .owl-item .success-card {
  border-radius: 20px;
  background: #FFF;
  width: 502px;
  height: 304px;
  padding: 24px;
}
.our-success .main-content .success-caro .owl-item .success-card .quates {
  width: 34px;
  height: 22px;
  margin-bottom: 24px;
}
.our-success .main-content .success-caro .owl-item .success-card .p-txt {
  font-size: 14px;
  font-family: "Assistant", sans-serif;
  color: #1C1A13;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  height: 170px;
}
.our-success .main-content .success-caro .owl-item .success-card .name {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  color: #1C1A13;
  display: flex;
  justify-content: end;
}

.blog {
  background-color: #FFFFFF;
}
.blog .main-content {
  padding: 80px 0px;
}
.blog .main-content .primary-header {
  text-align: center;
  margin-bottom: 60px;
}
.blog .main-content .content {
  margin-bottom: 40px;
}
.blog .main-content .content .img-box {
  overflow: hidden;
  border-radius: 10px;
  width: 347px;
  height: 420px;
}
.blog .main-content .content .img-box .blog-img {
  display: flex;
  align-items: end;
  width: 347px;
  height: 420px;
  border-radius: 10px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 28.01%, rgba(0, 0, 0, 0) 55.36%), url("./images/blog1.jpg"), lightgray 50%;
  transition: all ease-in-out 0.4s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  padding: 36px;
}
.blog .main-content .content .img-box .blog-img:hover {
  transform: scale(1);
  transition: 1s ease;
}
.blog .main-content .content .img-box .blog-img .p-txt {
  color: #FEFEFE;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.blog .main-content .content .img-box .blog-img.blog-img-2 {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 28.01%, rgba(0, 0, 0, 0) 55.36%), url("./images/blog2.jpg"), lightgray 50%;
}
.blog .main-content .content .img-box .blog-img.blog-img-3 {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 28.01%, rgba(0, 0, 0, 0) 55.36%), url("./images/blog3.jpg"), lightgray 50%;
}

.culture .main-content {
  padding: 80px 0px;
}
.culture .main-content .secondary-header {
  width: 95%;
}

.flag-sec .img-box {
  width: 100%;
  height: 832px;
}
.flag-sec .img-box img {
  width: 100%;
  height: 100%;
}

.our-story {
  background-color: #FFFFFF;
}
.our-story .main-content {
  padding: 80px 0px 160px 0px;
}
.our-story .main-content .content .img-box {
  width: 532px;
  height: 567px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.our-story .main-content .content .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.our-story .main-content .content .box {
  width: 397px;
  height: 441px;
  border-radius: 20px;
  border: 1.6px solid #FFF;
  position: absolute;
  bottom: 20px;
  right: 98px;
  z-index: 1111;
}
.our-story .main-content .content .bg-img-box {
  width: 451px;
  height: 404px;
  position: absolute;
  bottom: -143px;
  right: -141px;
}
.our-story .main-content .content .bg-img-box img {
  width: 100%;
  height: 100%;
}
.our-story .main-content .sec-content .para-header {
  margin-bottom: 24px;
}

.our-goal {
  background-color: #FFFFFF;
}
.our-goal .main-content {
  padding: 0px 0px 100px 0px;
}
.our-goal .main-content .content {
  display: flex;
}
.our-goal .main-content .content .para-header {
  width: 53%;
}
.our-goal .main-content .content .para-txt {
  margin-top: 48px;
}

.our-process {
  background-color: #F8F8F8;
}
.our-process .main-content {
  padding: 60px 70px;
}
.our-process .main-content .primary-header {
  text-align: center;
}
.our-process .main-content .content .img-box {
  width: 230px;
  height: 290px;
  border-radius: 10px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 28.86%, rgba(0, 0, 0, 0) 59.22%), url(./images/process1.png), lightgray -65.852px 0px/189.107% 100% no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 20px;
}
.our-process .main-content .content .img-box.box-2 {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 28.86%, rgba(0, 0, 0, 0) 59.22%), url(./images/process2.png), lightgray -65.852px 0px/189.107% 100% no-repeat;
}
.our-process .main-content .content .img-box.box-3 {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 28.86%, rgba(0, 0, 0, 0) 59.22%), url(./images/process3.png), lightgray -65.852px 0px/189.107% 100% no-repeat;
}
.our-process .main-content .content .img-box.box-4 {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 28.86%, rgba(0, 0, 0, 0) 59.22%), url(./images/process4.png), lightgray -65.852px 0px/189.107% 100% no-repeat;
}
.our-process .main-content .content .img-box .p-txt {
  color: #FEFEFE;
  font-size: 18px;
  text-align: center;
}
.our-process .main-content .content .img-box .p-txt .min {
  color: #FFCC09;
}
.our-process .main-content .content .arrow-box {
  width: 148px;
  height: 123px;
  transform: translateX(-26px);
}
.our-process .main-content .content .arrow-box img {
  width: 100%;
  height: 100%;
}
.our-process .main-content .content.sec .arrow-box {
  margin-top: 88px;
}

.student-visa {
  background-color: #FFFFFF;
}
.student-visa .main-content {
  padding: 130px 0px 210px 0px;
}
.student-visa .main-content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.student-visa .main-content .content .primary-header {
  margin-bottom: 24px;
}
.student-visa .main-content .content .p-txt {
  color: #616160;
  font-family: "Assistant", sans-serif;
  margin-bottom: 24px;
}
.student-visa .main-content .content-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.student-visa .main-content .content-sec .bg-img-box {
  position: absolute;
}
.student-visa .main-content .content-sec .img-box {
  width: 440px;
  height: 405px;
  z-index: 1;
}
.student-visa .main-content .content-sec .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.envisioned-goal {
  background-color: #FFFFFF;
}
.envisioned-goal .main-content {
  padding: 0px 0px 100px 0px;
}
.envisioned-goal .main-content .primary-header {
  color: #1E1E1E;
  margin-bottom: 60px;
  text-align: center;
}
.envisioned-goal .main-content .card-goal {
  border-radius: 10px;
  background: #FCEBA4;
  width: 100%;
  padding: 48px;
}
.envisioned-goal .main-content .card-goal .p-header {
  color: #1C1A13;
  line-height: 24px;
  margin-bottom: 28px;
}
.envisioned-goal .main-content .card-goal .content .img-box {
  width: 323px;
  height: 331px;
}
.envisioned-goal .main-content .card-goal .content .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.envisioned-goal .main-content .card-goal .sec-content .p-txt {
  color: #1C1A13;
  font-family: "Assistant", sans-serif;
  margin-bottom: 20px;
}
.envisioned-goal .main-content .card-goal .sec-content .value .primary-header {
  font-size: 24px;
  line-height: 24px;
  color: #1C1A13;
  text-align: start;
  font-family: "Bitter", serif;
  margin-bottom: 12px;
}
.envisioned-goal .main-content .card-goal .sec-content .value ul {
  margin-left: 20px;
}
.envisioned-goal .main-content .card-goal .sec-content .value .primary-btn {
  color: #FEFEFE;
  background: #0E0E0E;
}
.envisioned-goal .main-content .card-goal .sec-content .value .primary-btn:hover::before {
  background-image: radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, transparent 20%, #0E0E0E 20%, transparent 30%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0E0E0E 15%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%);
}
.envisioned-goal .main-content .card-goal .sec-content .value .primary-btn:hover::after {
  background-image: radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0E0E0E 15%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%), radial-gradient(circle, #0E0E0E 20%, transparent 20%);
}

.how-we-work {
  background-color: #FFFFFF;
}
.how-we-work .main-content {
  padding: 40px 0px 20px 0px;
}
.how-we-work .main-content .primary-header {
  text-align: center;
  margin-bottom: 40px;
}
.how-we-work .main-content .content {
  margin-bottom: 48px;
}
.how-we-work .main-content .content .box {
  border-radius: 8px;
  border: 1px solid #BCBBBA;
  padding: 20px;
}
.how-we-work .main-content .content .box .p-txt {
  font-family: "Assistant", sans-serif;
  color: #1E1E1E;
  font-size: 14px;
  line-height: normal;
}
.how-we-work .main-content .sec-content {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.how-we-work .main-content .sec-content.sec {
  justify-content: end;
}
.how-we-work .main-content .sec-content .img-box img {
  filter: grayscale(1);
  width: 100%;
  height: 100%;
}
.how-we-work .main-content .sec-content .img-box img:hover {
  color: #FECE05;
  fill: none;
}

.blog-first {
  background-color: #FFFFFF;
}
.blog-first .first-content {
  display: flex;
  justify-content: space-between;
}
.blog-first .first-content .para-header {
  font-size: 24px;
}
.blog-first .p-txt {
  color: #000;
  font-family: "Assistant", sans-serif;
}
.blog-first .main-content {
  padding: 80px 0px 125px 0px;
}
.blog-first .main-content .primary-header {
  line-height: 65px;
  text-align: center;
  margin-bottom: 60px;
}
.blog-first .main-content .primary-header .stories {
  color: #FECE05;
}
.blog-first .main-content .primary-header .immi {
  color: #E96969;
}
.blog-first .main-content .img-box {
  width: 1140px;
  height: 460px;
  border-radius: 20px;
  background-size: cover !important;
  background-position: center center;
  background: url(./images/blogp-1.jpg), lightgray 50%/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: center;
  position: relative;
}
.blog-first .main-content .img-box .content-card {
  border-radius: 10px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  padding: 28px;
  width: 70%;
  position: absolute;
  bottom: -125px;
}
.blog-first .sec-main-content {
  padding: 60px 0px 24px 0px;
}
.blog-first .sec-main-content .content {
  margin-bottom: 36px;
}
.blog-first .sec-main-content .content .img-box {
  width: 555px;
  height: 285px;
  margin-bottom: 18px;
}
.blog-first .sec-main-content .content .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.blog-first .sec-main-content .content .inner-content .first-content .para-header {
  width: 80%;
  font-size: 18px;
  color: #000;
}

.lets-talk .main-content {
  padding: 0px 0px 80px 0px;
}
.lets-talk .main-content .img-box {
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(140deg, rgba(60, 4, 4, 0.46) 0%, rgba(48, 6, 6, 0.23) 100%), url("./images/talk.jpg");
  padding: 100px 0px 0px 96px;
}
.lets-talk .main-content .img-box .content {
  width: 50%;
}
.lets-talk .main-content .img-box .content .primary-header {
  color: #FEFEFE;
  font-size: 64px;
}
.lets-talk .main-content .img-box .content .p-txt {
  color: #FAFAFA;
  font-family: "Assistant", sans-serif;
}
.lets-talk .main-content .img-box .content .primary-btn {
  background-color: #FAFAFA;
}
.lets-talk .main-content .img-box .content .primary-btn:hover::before {
  background-image: radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FAFAFA 20%, transparent 30%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FAFAFA 15%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%);
}
.lets-talk .main-content .img-box .content .primary-btn:hover::after {
  background-image: radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FAFAFA 15%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%), radial-gradient(circle, #FAFAFA 20%, transparent 20%);
}

.contact {
  background-color: #FFFFFF;
}
.contact .main-content {
  padding: 80px 0px;
}
.contact .main-content .para-txt {
  font-family: "Bitter", serif;
  color: #434241;
}
.contact .main-content .primary-header {
  margin-bottom: 16px;
}
.contact .main-content .primary-header .dream {
  color: #FFCC09;
}
.contact .main-content .p-txt {
  font-family: "Assistant", sans-serif;
  color: #616160;
}
.contact .main-content .inquiry {
  margin-top: 40px;
}
.contact .main-content .inquiry .first-content .inquiry-card {
  border-radius: 10px;
  border: 1px solid #BCBBBA;
  padding: 24px;
}
.contact .main-content .inquiry .first-content .inquiry-card .form-group .form-control {
  border-radius: 8px;
  border: 1px solid #BCBBBA;
}
.contact .main-content .inquiry .sec-content .box {
  border-bottom: 2px dashed #BCBBBA;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.contact .main-content .inquiry .sec-content .box .primary-header {
  font-size: 32px;
  margin-bottom: 12px;
  line-height: normal;
}
.contact .main-content .inquiry .sec-content .box .p-txt {
  font-size: 18px;
  font-family: "Bitter", serif;
  line-height: 30px;
  margin-bottom: 8px;
}
.contact .main-content .inquiry .sec-content .box .p-txt:hover {
  text-decoration: none;
}
.contact .main-content .inquiry .sec-content .box .p-txt.map {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */